<% provide(:title, 'Sign up') %>
<<<<<<< HEAD
<h1>Sign up</h1>
<p>Find me in app/views/users/new.html.erb</p>
=======
	<h1>
		Sign up
	</h1>
	<p>
		Find me in app/views/users/new.html.erb
	</p>
>>>>>>> 48428d724c1060235aff5fb4a9448fda519520df
